<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl" style="display: flex;justify-content: space-around;margin-bottom: 1rem;">
        <div class="mb-2 mb-md-0">
            ©
            <script>
                document.write(new Date().getFullYear());
            </script>
            , made with by
            <a href="https://www.linkedin.com/in/yi%C4%9Fit%C3%B6r%C3%BCc%C3%BC-09214911a/" target="_blank" class="footer-link fw-bolder">Muhsin Yiğit Örücü</a>
        </div>
    </div>
</footer>
<!-- / Footer -->