@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    @await Component.InvokeAsync("DashboardBanner")

   
    @await Component.InvokeAsync("Cart1Statistic")

    @await Component.InvokeAsync("TotalRevenue1")

    @await Component.InvokeAsync("TotalRevenue2")
  


</div>
<div class="row">
    @await Component.InvokeAsync("DestinationStatistics")

    @await Component.InvokeAsync("DestinationStatistics2")

    @await Component.InvokeAsync("Guide")
</div>

